body {
    min-width: 100px;
    font-size: 0.6em;
    height: 60vh;
    padding: 20px;
    background-image: url(https://www.nos.pt/content/dam/nos/institucional/images-inst/homepage/governo-sociedade-dsk.jpg);
    background-color:#F7F7F7;   
    background-size: cover;   
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
   
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;

}
button {
    width: 200px;
    height: 50px;
    font-size: larger;
    font-weight: bolder;
    margin: 5px;
    background-color: white;
    size: 40px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);


}

button:hover {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    font-size: 150%;
    transition: 1s;
}
body h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.381);
    
}

div#NOS {
    transition: 1s;
    border: 2px solid black;
    border-radius: 20px;
    width: 650px;
    max-height: 400px;
    padding: 15px;
    margin: auto;
    background-color: rgba(6, 209, 128, 0.827);
    box-shadow: 20px 20px 20px black;
}
div#NOS:hover {
    background-color: rgb(42, 56, 165);
    transition: 1s;
}

div#VPN {
    transition: 1s;
    border: 2px solid black;
    border-radius: 20px;
    width: 650px;
    max-height: 400px;
    padding: 15px;
    margin: auto;
    background-color: rgba(219, 14, 14, 0.827);
    box-shadow: 20px 20px 20px rgb(0, 0, 0);

}
div#VPN:hover {
    background-color: chartreuse;
    transition: 1s;
}


div#FORMS {
    transition: 1s;
    border: 2px solid black;
    border-radius: 20px;
    width: 650px;
    max-height: 400px;
    padding: 15px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.827);
    box-shadow: 20px 20px 20px black;
}
div#FORMS:hover {
    background-color: blue;
    transition: 1s;
}