@charset "UTF-8";

body {
    font-size:calc(10px + 0.5vw);
    padding: 20px;
    background-image: url(https://www.nos.pt/content/dam/nos/institucional/images-inst/homepage/governo-sociedade-dsk.jpg);
    background-color:#F7F7F7;   
    background-size: cover;   
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
   
}

a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;

}
button {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin: 5px;
    font-size:calc(12px + 0.5vw);
    width: 200px;
    height: 100%;


}

button:hover {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    transition: 1s;
}
body h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(38, 0, 255);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.381);
    
}

div#NOS {
    text-align: center;
    transition: 1s;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 650px;
    min-width: 200px;
    max-height: 100%;
    padding: 15px;
    margin: auto;
    background-color: rgba(6, 209, 128, 0.827);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.459);
}
div#NOS:hover {
    background-color: rgba(42, 56, 165, 0.459);
    transition: 1s;
}

div#VPN {
    transition: 1s;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 650px;
    min-width: 200px;
    max-height: 100%;
    padding: 15px;
    margin: auto;
    background-color: rgba(219, 14, 14, 0.459);
    box-shadow: 20px 20px 20px rgb(0, 0, 0);

}
div#VPN:hover {
    background-color: rgba(128, 255, 0, 0.459);
    transition: 1s;
}


div#FORMS {
    transition: 1s;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 650px;
    min-width: 200px;
    max-height: 100%;
    padding: 15px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.459);
    box-shadow: 20px 20px 20px black;
}
div#FORMS:hover {
    background-color: rgba(0, 0, 255, 0.459);
    transition: 1s;
}